@page "/userprofile"
@page "/userprofile/{UsuarioId:int}"


<div class="container">

    <div class="row d-flex justify-content-center">

        <div class="row col-lg-9 ">
            <div class="row card shadow-lg bg-info bg-gradient border-1 border-dark ">
                <div class="card-header border-1 bg-transparent">
                    <div class="d-flex flex-column text-center my-2">
                        <span class="fs-4 mt-2">
                            <b>
                                Perfil de @Usuario.NickName <span class="oi oi-plus" />
                            </b>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center m-2 align-items-center">
                        <form>
                            <div class="row mb-3 justify-content-center">
                                <div class="col">
                                    <span class="input-group-text justify-content-center">
                                        Victorias 1vs1:
                                    </span>
                                    <span class="input-group-text justify-content-center bg-light">
                                        @Usuario.Victorias1v1
                                    </span>
                                </div>

                                <div class="col ">
                                    <span class="input-group-text justify-content-center">
                                        Victorias Torneos:
                                    </span>
                                    <span class="input-group-text justify-content-center bg-light">
                                        @Usuario.VictoriasTorneos
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="input-group-text justify-content-center">
                                        1vs1 Jugados:
                                    </span>
                                    <span class="input-group-text justify-content-center bg-light">
                                        @Usuario.Victorias1v1
                                    </span>
                                </div>

                                <div class="col ">
                                    <span class="input-group-text justify-content-center">
                                        Torneos Jugados:
                                    </span>
                                    <span class="input-group-text justify-content-center bg-light">
                                        @Usuario.VictoriasTorneos
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col bg-info ">
                            <div class="card-header">
                                <h4>Mejores Tiempos</h4>
                            </div>
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th>4x4</th>
                                        <th>4x5</th>
                                        <th>4x6</th>
                                        <th>4x7</th>
                                        <th>4x8</th>
                                        <th>6x6</th>
                                        <th>6x7</th>
                                        <th>8x8</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-transparent">
                                    <tr>
                                        <td>Normal</td>
                                    </tr>
                                    <tr>
                                        <td>Una Vida</td>
                                    </tr>
                                    <tr>
                                        <td>Cambiante</td>
                                    </tr>
                                    <tr>
                                        <td>Memoria</td>
                                    </tr>
                                    <tr>
                                        <td>Contrareloj</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int UsuarioId { get; set; }

    public Pages.Profile.MyProfile.tempUser Usuario = new Pages.Profile.MyProfile.tempUser();

    protected override void OnInitialized()
    {
        Usuario = Pages.Profile.MyProfile.Users[UsuarioId - 1];
        Nuevo();

    }
    private bool esPendiente()
    {
        return Pages.Profile.MyProfile.Users[0].Solicitudes.Exists(p => p.id == UsuarioId);
    }
    private bool esAmigo()
    {

        ////
        return Pages.Profile.MyProfile.Users[0].ListaAmigos.Exists(p => p.id == UsuarioId);
    }
    private void Nuevo()
    {
    }

    private void Guardar()
    {
        ///Hazlo que guarde papá
    }
}
