@page "/userprofile"
@page "/userprofile/{UsuarioId:int}"


<div class="container">

    <div class="row d-flex justify-content-center">

        <div class="row col-lg-9 ">
            <div class="row card shadow-lg bg-info bg-gradient border-1 border-dark ">
                <div class="card-header border-1 bg-transparent">
                    <div class="d-flex flex-column text-center my-2">
                        <span class="fs-4 mt-2">
                            <b>
                                Perfil de @Usuario.NickName <span class="oi oi-cog" />
                            </b>
                        </span>
                    </div>
                </div>
                <div class="row p-0">

                    <div class="col  justify-content-center m-2 align-items-center">

                        <div class="row mb-3 justify-content-center">
                            <div class="col">
                                <label class="row justify-content-center fw-bold">
                                    🏆  1vs1:
                                </label>
                                <label class="row justify-content-center ">
                                    @Usuario.Victorias1v1
                                </label>
                            </div>

                            <div class="col ">
                                <label class="row justify-content-center fw-bold">
                                    🏆 Torneos:
                                </label>
                                <label class="row justify-content-center ">
                                    @Usuario.VictoriasTorneos
                                </label>
                            </div>
                        </div>

                        <div class="row row mb-3 justify-content-center">
                            <div class="col">
                                <label class="row justify-content-center fw-bold">
                                    1vs1 Jugados:
                                </label>
                                <label class="row justify-content-center ">
                                    @Usuario.Victorias1v1
                                </label>
                            </div>
                            <div class="col ">
                                <label class="row justify-content-center fw-bold">
                                    Torneos Jugados:
                                </label>
                                <label class="row justify-content-center ">
                                    @Usuario.VictoriasTorneos
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col bg-info p-0">
                        <div class="card-header">
                            <h6 class="fw-bold">Mejores Tiempos</h6>
                        </div>
                        <table class="table table-borderless ">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th class="fw-bold">4x4</th>
                                    <th class="fw-bold">4x5</th>
                                    <th class="fw-bold">4x6</th>
                                    <th class="fw-bold">4x7</th>
                                    <th class="fw-bold">4x8</th>
                                    <th class="fw-bold">6x6</th>
                                    <th class="fw-bold">6x7</th>
                                    <th class="fw-bold">8x8</th>
                                </tr>
                            </thead>
                            <tbody class="bg-transparent">
                                <tr>
                                    <td class="fw-bold">Normal</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Una Vida</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Cambiante</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Memoria</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Contrareloj</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int UsuarioId { get; set; }

    public Pages.Profile.MyProfile.tempUser Usuario = new Pages.Profile.MyProfile.tempUser();

    protected override void OnInitialized()
    {
        Usuario = Pages.Profile.MyProfile.Users[UsuarioId - 1];
        Nuevo();

    }
    private bool esPendiente()
    {
        return Pages.Profile.MyProfile.Users[0].Solicitudes.Exists(p => p.id == UsuarioId);
    }
    private bool esAmigo()
    {

        ////
        return Pages.Profile.MyProfile.Users[0].ListaAmigos.Exists(p => p.id == UsuarioId);
    }
    private void Nuevo()
    {
    }

    private void Guardar()
    {
        ///Hazlo que guarde papá
    }
}
